body {
    background-color: yellowgreen;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.heading {
    text-align: center;
}
.opt-btn {
    margin: 30px;
}
.opt {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(19, 141, 70);
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}
.status {
    display: block;
    margin: 15px;
}
.score-table {
    display: inline-block;
    margin: 25px;
}